.header {
  height: 765px;
  background-image: url("../../images/header.jpg");
  background-size: cover;
  background-position: center;
  font-weight: 500;
  position: relative;
  line-height: 1;
}

.logo {
  @include logo;
}

.menu {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 25px;
  text-transform: $upper-text;
}

.info {
  text-transform: $upper-text;
  color: $contrast-text;
  margin: auto;

  &__list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(5, $item-size);
    grid-gap: 12px;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }

  &__item {
    list-style: none;
    margin: 35px 0;
  }

  &__item:first-child {
    grid-column-start: 3;
  }
}

.menu {

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
  }

  &__item {
    margin: 0 22.5px;
    padding: 7px 20px;
    white-space: nowrap;

    &_active {
      background-color: #d5c5aa;
      border-radius: 10px;

      &:hover {
        background-color: $contrast-text;
      }
    }
  }

  &__link {
    color: $contrast-text;
    text-decoration: none;

    &:hover {
      cursor: pointer;
      color: $active-color;
    }

    &_active {
      color: black;
    }
  }
}

.order {
  border-bottom: 1px dashed;
}

.information {
  display: flex;
  justify-content: space-between;

  &__heading {
    font-size: 48px;
    font-weight: 300;
    line-height: 60px;
    text-transform: $upper-text;
    width: 314px;
    margin: 0;
    display: block;

  }

  &__text {
    max-width: 564px;
    padding: 0;

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }
}
